<form action="/movies/search" method="post">
    <input type="text" name="search" id="" placeholder="Buscar"><br>
    <select name="ordenar" id="">
        <option value="rating">rating</option>
    </select><br>
    <button type="submit">Buscar</button>
</form>