<form action="/movies/search" method="post">
    <input type="text" name="search" id="" placeholder="Buscar"><br>
    <input type="text" name="ordenar" id="" placeholder="Ordenar Por" value="<%= criterio %>"><br>
    <button type="submit">Buscar</button>
</form>